version: '3.3'

services: 
  ghost:
    image: ghost:4-alpine
    container_name: ghost
    environment: 
      - NODE_ENV=production
      - VIRTUAL_HOST=ghost.ykaseng.com
      - VIRTUAL_PORT=2368
      - LETSENCRYPT_EMAIL=root@ykaseng.com
      - LETSENCRYPT_HOST=ghost.ykaseng.com
    networks:
      - reverse-proxy
    expose:
      - 2368
    volumes: 
      - ./ghost/content:/var/lib/ghost/content
      - ./ghost/config.production.json:/var/lib/ghost/config.production.json
    restart: unless-stopped

  portfolio:
    image: gcr.io/portfolio-329007/portfolio
    container_name: portfolio
    environment: 
      - VIRTUAL_HOST=ykaseng.com
      - VIRTUAL_PORT=80
      - LETSENCRYPT_EMAIL=root@ykaseng.com
      - LETSENCRYPT_HOST=ykaseng.com
    networks:
      - reverse-proxy
    expose: 
      - 80
    depends_on:
      - ghost
    restart: unless-stopped

networks:
  reverse-proxy:
    external:
      name: reverse-proxy
