version: '3.9'

services: 
  ghost:
    image: ghost:4-alpine
    container_name: ghost
    environment: 
      NODE_ENV: development
    volumes: 
      - ./ghost/content:/var/lib/ghost/content
      - ./ghost/config.development.json:/var/lib/ghost/config.development.json
    restart: on-failure

  portfolio:
    image: portfolio
    container_name: portfolio
    build:
      context: ./portfolio
    depends_on:
      - ghost
    restart: on-failure

  reverse-proxy:
    image: nginx
    container_name: reverse_proxy
    depends_on:
      - ghost
      - portfolio
    volumes: 
      - ./reverse_proxy/nginx.conf:/etc/nginx/nginx.conf
    ports: 
      - 80:80
    restart: on-failure