<head>
	<title>{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="robots" content="index, follow">
    <meta name="author" content="ykaseng">
    <meta name="description" content="Hey fellow dev! If you're looking to get in touch, don't hesitate to send me an email! Have a nice day!">
    <meta name="keywords" content="ykaseng,kaseng,yang,ka,seng,richard">
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
	<link href='http://ykaseng.com/feed.xml' rel='alternate' type='application/atom+xml'>
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}" /><![endif]-->
</head>
